
.marisa-txt {
    background-color: #00BFA6;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #00BFA6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
}

#input {
    position:absolute;
    top:-10000px;
    opacity: 0;
    z-inde:-10;
}

#container{
    margin: 5px 10px 5px 10px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 5px 0px 5px 0px;
    padding: 10px 1px;
    border: 0px solid transparent;
    background-color: rgba(100,77,237,0.08);
    border-radius: 1.25em;
    transition: all 0.2s linear;
    user-select: none;
}
.time{
    font-size: 10px;
}
svg{
    display: block;
}
.btn{
    width: 25px;
    height: 100%;
}
   

/* .marisa-content {
    display: none;
} */

/* .marisa-ext:hover .marisa-content {
    display: block;
}

.button1 {
    cursor: pointer;
} */